<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <form action="/create/book" method="post">
        <h2>New Book</h2>
            <label for="title">Title:</label>
            <input type="text" name="title">
            <label for "num_of_pages">Number of Pages:</label>
            <input type = "number" name="num_of_pages">

            <input type="submit" value="Add Book">
        </form>

    <h1>All Books</h1>
    {% for book in all_books %}
    <p>
        <a href="/book/{{book.id}}">{{book.title}}</a>
    </p>
    {% endfor %}

<a href="/authors">Home</a>
</body>
</html>