<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
</head>
<body>
    <form action="/create/dojo" method="post">
        <h2>New Dojo</h2>
            <label for="name">Name:</label>
            <input type="text" name="name">
            <input type="submit" value="Add Dojo">
        </form>

    <h1>All Dojos</h1>
    {% for dojo in all_dojos %}
    <p>
        <a href="/dojo/{{dojo.id}}">{{dojo.name}}</a>
    </p>
    {% endfor %}

<a href="/ninjas">Add Ninja</a>
</body>
</html>




